
<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-default navbar-fixed-top hidden-xs hidden-sm" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("logo_en.png", :alt => "Au Contraire! Consulting", class:"img-responsive"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to english_path do %>
    <span class="glyphicon glyphicon-home"></span>
<% end %></li>
        <li><%= link_to "Expertise areas", english_path(anchor: "expertise_en") %></li>
        <li><%= link_to "References", english_path(anchor: "references_en") %></li>
        <li><%= link_to "About us", english_path(anchor: "about_us") %></li>
        <li><%= link_to "Contact us", english_path(anchor: "contact") %></li>
        <li><%= link_to "FRANCAIS", root_path %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="english-xs visible-xs">
  <%= link_to image_tag("logo-xs.png", :alt => "Logo d'Au Contraire! Consulting"), root_path %>
  <%= link_to "FRANCAIS", root_path, class:"eng-xs" %>
  <%= link_to "About us", english_path(anchor: "about_us"), class:"qui-xs" %>
</div>

<div class="english-sm visible-sm">
  <%= link_to image_tag("logo_en.png", :alt => "Logo d'Au Contraire! Consulting"), root_path %>
  <%= link_to "FRANCAIS", english_path, class:"eng-sm" %>
  <%= link_to "About us", english_path(anchor: "about_us"), class:"qui-sm" %>
  <%= link_to "Expertise areas", english_path(anchor: "expertise_en"), class:"expertise-sm" %>
    <%= link_to root_path do %>
    <span class="home-sm glyphicon glyphicon-home"></span>
<% end %>
</div>

<div class="container-fluid">
  <div class="media">
    <%= image_tag("intro_en.png", :alt => "AuContraire! Constulting International", class:"img-responsive") %>
    </div>
  </div>

<div class="container-fluid", id="expertise_en">
  <div class="media">
    <%= image_tag("expertise_en.png", :alt => "Expertise areas of Au Contraire! Consulting", class:"img-responsive") %>
    </div>
  </div>

<div class="container-fluid", id="references_en">
  <div class="media">
    <%= image_tag("references_en.png", :alt => "Références d'AuContraire! Consulting", class:"img-responsive") %>
  </div>

<div class="container-fluid", id="about_us">
  <div class="media">
    <%= image_tag("about_us.png", :alt => "Eléonore Mandel", class:"img-responsive") %>
    </div>
  </div>


    <div class="container-fluid" id="contact">

          <div class="row spacer hidden-xs">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-20"></div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-20"><span class="glyphicon glyphicon-plus-sign"></span> <a href="https://twitter.com/Prof_Mandel" alt="Twitter d'Eléonore Mandel"><%= image_tag("twitter.png", :alt => "Logo de Twitter") %></a><a href="http://www.viadeo.com/fr/profile/eleonore.mandel" alt="Profil Viadeo d'Eléonore Mandel"><%= image_tag("viameo.png", :alt => "Logo de Viadeo") %></a> <a href="https://www.linkedin.com/pub/eleonore-mandel/15/358/1a2" alt="Profil LinkedIn d'Eléonore Mandel"> 
      <%= image_tag("linkedin.png", :alt => "Logo de LinkedIn") %></a> <a href="http://www.doyoubuzz.com/eleonore-mandel" alt="Profil Doyoubuzz d'Eléonore Mandel">
      <%= image_tag("doyoubuzz.png", :alt => "Logo de Doyoubuzz") %></a></div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-20"></div>

    </div>

                 <div class="row spacer visible-xs">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-15"></div>
       <div class="col-lg-4 col-md-4 col-sm-4 col-xs-15"></div>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-15">
        <a href="https://twitter.com/Prof_Mandel" alt="Twitter d'Eléonore Mandel"><%= image_tag("twitter-xs.png", :alt => "Logo de Twitter") %></a><a href="http://www.viadeo.com/fr/profile/eleonore.mandel" alt="Profil Viadeo d'Eléonore Mandel"><%= image_tag("viadeo-xs.png", :alt => "Logo de Viadeo") %></a> <a href="https://www.linkedin.com/pub/eleonore-mandel/15/358/1a2" alt="Profil LinkedIn d'Eléonore Mandel"> 
      <%= image_tag("linkedin-xs.png", :alt => "Logo de LinkedIn") %></a> <a href="http://www.doyoubuzz.com/eleonore-mandel" alt="Profil Doyoubuzz d'Eléonore Mandel">
      <%= image_tag("doyoubuzz-xs.png", :alt => "Logo de Doyoubuzz") %></a></div>
    </div>

      <div class="row spacer">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h3>CONTACT US</h3></div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-20"><span class="glyphicon glyphicon-envelope"></span> e-mail<br>
        <a href="mailto:em@aucontraireconsulting.com">em@aucontraireconsulting.com</a>
    </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-20"><span class="glyphicon glyphicon-phone"></span> Mobile phone<br>
        +33 6 09 15 45 04</div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-20"><span class="glyphicon glyphicon-map-marker"></span> Address<br>
          <p>13 Rue Claude-Nicolas Ledoux<br>14970 Bénouville</p></div>
      </div>

    </div>

    <div class="footer">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <a href="http://engagementperenne.fr/"><img src="http://img11.hostingpics.net/pics/555186footer.png" /></a>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <p class="mentions">N° SIRET Auto-entrepreneur : 80425515600015<br>Website hosted by : GANDI SAS, Joint-Stock company with a capital of 300,000€,<br>HQ address: 63-65 boulevard Massena à Paris (75013) FRANCE, registered under n°423 093 459 RCS PARIS<br>N° VAT FR81423093459 - Tel : +33.(0) 1 70.37.76.61 - Fax : +33.(0) 1 43 73 18 51</p>
        </div>
        <div class="hidden-xs visible-sm visible-md visible-lg col-sm-4 col-md-4 col-lg-4">
          <p class="signature">Design by Pablo Faust</p>
        </div>
    </div>
  </div>


