<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <%= link_to image_tag("logo.png"), root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Domaines d'expertise", root_path(anchor: "expertise") %></li>
        <li><%= link_to "Références", root_path(anchor: "references") %></li>
        <li><%= link_to "Qui sommes-nous ?", root_path(anchor: "qui sommes-nous") %></li>
        <li><%= link_to "Contact", root_path(anchor: "contact") %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>